@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-geist: "Geist", sans-serif;
}

*::selection {
  background-color: #bbf451;
  color: black;
}

* {
  scrollbar-width: thin;
  scrollbar-color:  #bbf451 black;
}

.selected-section {
  *::selection {
    color: #bbf451;
    background-color: black;
  }
}
